:root {
  --color-light: #ffffff;
  --color-grey: #E2E8F0;
  --color-grey-1: #F7FAFC;
  --color-grey-2: #f1f1f5;
  --color-disabled: #d4dde1;
  --color-dark: #1e1d1d;
  --color-dark-80: #1E1D1DCC;
  --color-dark-40: #1E1D1D66;
  --color-accent-2: #C9C222;
  --color-accent-2-80: rgba(201, 194, 34, 0.8);
  --color-accent-2-dark: #aba51c;
  --color-accent: #3182ce;
  --color-accent-80: rgba(49, 130, 206, 0.8);
  --color-content: #2C4B6B;
  --color-content-dark: #183a56;
  --color-blue-grey: #718096;
  --font-family-base: Overpass, sans-serif;
  --transition-duration: 0.3s;
  --card-shadow-10: 0 0 8px rgba(0,0,0,0.1);
  --card-shadow: 0 0 20px rgba(0,0,0,0.2);
  --button-height: 64px;
  --border: 1px solid var(--color-content);
  --border-radius: 0.75rem;
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
  --width-containers: 1280px;
  --default-padding: 1rem;
  --default-gap: 1.5rem;
  --padding-xs: 0.25rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
  --padding-xl: 3rem;
  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 2rem;
  --input-font-size: 1rem;
  --input-padding: 1rem;
  --input-border-radius: 0.3rem;
  --font-size-xs: 0.75rem;
  --font-size-small: 1.25rem;
  --font-size-medium: 2rem;
  --font-size-large: 3rem;
  --margin-xs: 0.5rem;
  --margin-small: 1rem;
  --margin-medium: 2rem;
  --margin-large: 3rem;
  --swiper-pagination-bottom: -5px;
  --swiper-pagination-color: var(--color-accent-2);
}