.goods {
  display: flex;
  width: 100%;
  background-color: var(--color-grey-1);
  padding-bottom: var(--padding-xl);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.875rem, auto));
    grid-gap: var(--gap-large);
    @include mobile {
      grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
    }
  }

  &__inspect-button {
    height: 128px;
    display: flex;
    padding-inline: 0;
    border: none;
    background-color: transparent;
    @include hover {
      background-color: transparent;
    }
  }

  &-card {
    @include flex-column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light);
    border-radius: var(--border-radius-large);
    padding: var(--padding-large);
    gap: var(--gap-large);
    height: 100%;

    @include hover {
      box-shadow: var(--card-shadow);
    }

    &__information {
      @include flex-column;
      align-items: center;
      text-align: center;
      gap: var(--gap-medium);
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__caption {
      display: flex;
      align-items: center;
      min-height: 50px;
      @include fluid-text(20, 24);
      font-weight: 500;
    }

    &__description {
      @include fluid-text(16,20);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      @include tablet {
        @include fluid-text(16, 18)
      }
    }

    &__button {
      @include fluid-text(12, 14);
      color: var(--color-grey);
      background: var(--color-content);
      width: fit-content;
      @include hover {
        background: #284460;
      }
      @include tablet {
        @include fluid-text(14, 18)
      }

      &-wrapper {
        display: flex;
        gap: var(--gap-medium);
        @include mobile {
          gap: var(--gap-small);
        }
      }

    }

  }

  &-modal {
    &__description {
      max-width: 600px;
      margin: var(--margin-small);

      @include mobile {
        max-width: 400px;
      }
    }

    &__inspect {

      &-wrapper {
        @include flex-column;
        gap: var(--gap-large);
        margin: var(--margin-small);
        @media (orientation: landscape) and (max-width: 1024px) {
          flex-direction: row;
          max-height: 60vh;
        }
      }

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      &-main_img {
        object-fit: contain;
        object-position: center;
        padding: var(--padding-medium);
        height: 100%;
        max-height: 500px;
        width: 500px;

        @include mobile {
          max-height: 50vh;
          max-width: 50vw;
        }
      }

      &-sub_img {
        margin: var(--margin-small) 0;
        cursor: pointer;
        padding: var(--padding-medium);
        opacity: 0.6;
        border: 1px solid var(--color-dark-80);
        height: 100px;
        width: 100px;
        @media (orientation: landscape) and (max-width: 1024px) {
          margin: 0 var(--margin-small);
        }
      }

      &--active_img {
        cursor: default;
        opacity: 1;
        border-width: 3px;
        border-color: var(--color-accent);
      }

      &-gallery {
        display: flex;
        align-items: center;
        gap: var(--gap-medium);
        @media (orientation: landscape) and (max-width: 1024px) {
          flex-direction: column;
        }

        &-wrapper {
          max-width: calc(100% - 2rem);
          margin: 0 auto;
          overflow: hidden;
          overflow-x: auto;
          @media (orientation: landscape) and (max-width: 1024px) {
            max-height: 30rem;
            overflow-x: hidden;
            overflow-y: auto;
          }
        }
      }

      &-button {
        &-prev {
          left: -20px;
        }
        &-next {
          right: -20px;
        }
      }

    }

  }

}